:root {

    --font-color: #fbff8b;
    --shade: #24242472;
    --shade-strong: #000000e5;
    --primary: #050029;
    --shade-light: #ffffff4c;

}

@font-face {
    font-family: 'pubg_sansregular';
    src: url('../res/font/pubg_sans-webfont.woff2') format('woff2'),
        url('../res/font/pubg_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;

}

a:visited {
    text-decoration: none;
    color: var(--font-color);
}

p {
    color: var(--font-color);
    font-family: 'calibri';
}

a {
    cursor: pointer;
    color: var(--font-color);
}

.bx {
    color: var(--font-color);
}

/*MAIN HEADER*/
.header {
    position: relative;
    height: 10vh;
    background-image: url('../res/1080-capital.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintitletxt {
    margin-top: 0.2ex;
    font-size: calc(50px + 2vw);
    font-family: "pubg_sansregular";
}

.navM {
    position: absolute;
    width: 80%;
    height: 80vh;
    left: -150%;
    transition: 0.6s;
    z-index: 100;
    background-color: var(--primary);
}

/* Show menu */
.show-menu {
    left: 0;
}

.bx-menu {
    position: fixed;
    top: 0;
    left: 0;
    font-size: calc(30px + 10vw);
    z-index: 11;
}

.mainmenulist {
    margin-left: 1ex;
    height: 80vh;
}

.mainmenuitem {
    position: relative;
}

.titlediv {
    position: relative;
    display: flex;
}

.mainmenutxt {
    font-family: "pubg_sansregular";
    font-size: calc(5px + 4vw);
    white-space: nowrap;
}

.bx-chevrons-down {
    font-size: 2vw;
}

.mainmenutitle {
    position: relative;
    display: flex;
    flex-direction: column;
}

.submenucontainer {
    position: relative;
    margin: 0.5ex;
    height: 0;
    width: 65%;
    overflow: hidden;
    transition: 0.5s;
    background-color: var(--shade-light);
}

/*MAKE CONTAINER VISIBLE AGAIN*/
.navM .mainmenutitle.active .capicontainer {
    height: 17vw
}

.navM .mainmenutitle.active .provinciacontainer {
    height: 20vw
}

.navM .mainmenutitle.active .gastrocontainer {
    height: 7vw;
}

.navM .mainmenutitle.active .enoturismocontainer {
    height: 14vw;
}

.submenulist {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30vh;
}

.subitemlist {
    position: relative;
}

.itemtxt {
    font-size: calc(3px + 2vw);
    white-space: nowrap;
    width: 100%;
}

/*MAIN BODY*/

.mainsection {
    min-height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.714)), url('../res/1080-capital.jpg');
    background-attachment: fixed;
}

/*FOOTER*/

.mainfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.825), rgba(0, 0, 0, 0.854)), url('../res/1080-capital.jpg');
    background-position: 40%;

}

.footerlist {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footermenuitem {}

.footermenutxt {
    font-size: calc(5px + 1vw);
}

/*SUBPAGES*/


.subpagelists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1ex;
}

.listtop {
    margin: auto;
    cursor: pointer;
}

.subpagelistitem {
    position: relative;
    display: flex;
}

.itemimgdiv {}

.subitemtxt {
    position: absolute;
    background-color: var(--shade);
    width: 100%;
    font-size: calc(5px + 2vw);
    text-align: center;
}

.itemimg {
    height: 48vw;
    width: 48vw;
    max-width: 512px;
    max-height: 512px;
}

/* DESPLEGABLE DATA */

.datadiv {
    position: fixed;
    height: 0;
    width: 0;
    overflow: hidden;
    transition: 0.8s;
    background-color: var(--shade-strong);
    z-index: 19;
    text-align: center;
    display: block;
}

.expanded {
    height: 80vh;
    width: 100vw;
    overflow: scroll;
    overflow-x: hidden;
}

.dataimg {
    width: 100%;
}

.bx-x {
    display: none;
    position: fixed;
    top: 16vh;
    left: 0;
    color: var(--font-color);
    font-size: 2.5em;
    background-color: var(--shade);
    z-index: 20;
}

.listcontainer .datadiv.expanded .bx-x {
    display: block;
}

.dataname {
    font-size: calc(20px + 2vw);
    text-align: center;
    font-weight: 800;
    margin: 1ex;
}

.datadescription {
    text-align: justify;
    font-size: calc(8px + 1vw);
    margin: 1ex;
}

.dataweb {
    font-size: calc(10px + 2vw);
}

.mapiframe {
    width: 70%;
    height: 40vw;
}

/*RESPONSIVE MEDIA QUERY*/

@media (min-width: 720px) {

    .header{
        height: 15vh;
    }

    .navM {
        position: relative;
        width: 100%;
        left: 0;
        margin-bottom: 0;
        height: calc(7px + 3vw);
        background-color: transparent;
    }

    .mainmenulist {
        display: flex;
        margin: 0;
        width: 100vw;
        height: 5vw;
        justify-content: space-evenly;
    }

    .mainmenutxt {
        font-size: calc(15px + 1.5vw);
    }

    .mainmenuitem {
        margin-top: 1ex;
    }

    .submenucontainer {
        position: absolute;
        margin-top: 3.2vw;
        width: fit-content;
        background-color: var(--shade-strong);
    }

    .enoturismocontainer {
        translate: -3rem 0;
        text-align: right;
    }

    /*MAKE CONTAINER VISIBLE AGAIN*/
    .navM .mainmenutitle.active .capicontainer {
        height: 16vw;
    }

    .navM .mainmenutitle.active .provinciacontainer {
        height: 19vw;
    }

    .navM .mainmenutitle.active .gastrocontainer {
        height: 6vw;
    }

    .navM .mainmenutitle.active .enoturismocontainer {
        height: 13vw;
    }

    .submenulist {
        width: auto;
    }

    .bx-menu {
        display: none;
    }

    .bx-chevrons-down {

    }

    .titlediv {
        width: fit-content;
    }

    .mainmenutitle.active {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .datadiv {
        position: fixed;
        height: 0;
        width: 0;
        overflow: hidden;
        transition: 0.8s;
        background-color: var(--shade-strong);
        z-index: 19;
        text-align: center;
        display: block;
    }
    
    .expanded {
        height: 80vh;
        width: 100vw;
        overflow: scroll;
        overflow-x: hidden;
    }
    
}